// FONT SIZES
$xs-small-font: 1em;
$small-font: 1.2em;
$medium-font: 1.6em;
$large-font: 2.1em;
$extra-large-font: 3em;

// COLOURS
$light-blue: #778796;
$slightly-darker-blue: #637483;
$f4f4f4: #F4F4F4;
$fafafa: #FAFAFA;
$white: #FFFFFF;
$dark-grey: #4B4B4B; // Applicatin process headings
$light-grey: #7A7A7A;
$labels: #808080;

// SHADOWS 
$heading-shadow: 0 0 3px rgba(0,0,0,0.15);